.App {
  text-align: center;
}
h1{
  margin: 0px;
}
.header{
  background-color: #499bf1;
  min-height: 13vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.form
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.add
{
   margin: 20px;
   height: 40px;
}